*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

nav{

    height: 150px;
    width: 1559px;
    background-color: #1e90ff;
}

#profile{
    height: 100px;
    padding-top: 30px;
    padding-left: 10px;
    /* margin: 0%;
    border-radius: 50%; */
}

h1 {
    height: 30px;
    
    padding-top:0px;
    padding-left: 120px;
    margin-top: -80px;

    font-family: sans-serif;
    font-weight: 900;
    font-size:xx-large;
}

h5{
    padding-left: 125px;
    padding-top: 10px;
    margin-top: 0px;
    font-size:larger;
    color: aliceblue;
}

#nav{
    
    padding-left: 850px;
    margin-top: -50px;
    
}
#nav a:hover{

    color:aliceblue;

}

#nav a{
    text-decoration-line:none;
    color: black;
    font-weight: 700;
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.2s;
}

#backgroundImg{
    margin-left: -40px;
    margin-right: -50px;
    height: 800px;
}

#mh1{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;

    margin-top: -600px;
}

#mh3{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: brown;
    /* margin-top: -550px; */
    padding-top: 40px;
    padding-left: 100px;
}


#mp1{

padding-left: 130px;
padding-top: 20px;
font-size: 30px;
font-weight: 300;
}

footer{
height: 150px;
    margin-top: 280px;
    background-color: black;
    text-align: center;
}

#foot1{
    color:grey;
}

#fh1{
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#foot2{
    color: grey;
    margin-left: 0px;
    padding-top: 30px;
}

#foot3{
    color: grey;
    margin-left: 600px;
    padding-top: 30px;
}

#foot4{
    color:grey;
}

#foot5{
    color: grey;
    margin-left: 0px;
    padding-top: 0px;
}

#foot6{
    color: grey;
    margin-left: 0px;
    padding-top: 10px;
}

#homeBtn{

margin-left: 125px;
margin-top: 20px; 
}
#homeBtn .btn-box{

display: flex;
justify-content: space-between;
width: 150px;
height: 30px;
background: yellowgreen;

}

.btn-box a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: cyan;
    border: 3px solid  cyan;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
    /* background: transparent; */
    
}
/* @keyframes showRight{

    100%{
        width: 0;
    }

}  */
.btn-box a:hover{

    background-color: #1e90ff;
    color:black;
    border: 3px solid  #1e90ff;

}

#about{

    margin-top: -70px;
    height: 700px;
    width: 1559px;
    background-color:black;
}

#ah1{

    margin-top: 350px;
    padding-top: 50px;
    text-align: center;
    text-decoration:solid;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 500;
    color: aliceblue;
    
}

#aboutImg{

    border-radius: 50%;
    height: 300px;
    margin-left: 350px;
    margin-top: 50px;
    /* box-shadow: 10px 10px 10px 10px aqua; */
    border-color: aqua;
    border-style: ridge ;
    border-width: 10px;
}

#aboutName1{

    margin-left: 600px;
    margin-top: -250px;
    color: azure;
}

#aboutName2{

    font-size: 40px;
    margin-left: 600px;
    margin-top: 20px;
    color: azure;
}

#aboutName3{

    font-size: 30px;
    margin-left: 600px;
    margin-top: 20px;
    color: aqua;
}

#aboutPara{
    color: white;
    margin-top: 150px;
    margin-left: 70px;
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#projects{

    /* margin-top: -70px; */
    height: 700px;
    width: 1559px;
    /* background-color:black; */
}

#ph1{
    color: black;
    margin-top: 30px;
    text-align: center;
    margin-left: -140px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 600; 
}


#b1 {

   background-color: aqua;
   height: 200px;
   width: 500px;
   border-radius: 8px;
   padding: 10px;

   margin-left: 200px;
   margin-top: 100px;

   text-align: center;
}


#b2 {
    background-color: aqua;
    height: 200px;
    width: 500px;
    border-radius: 8px;
    padding: 10px;

    margin-left: 800px;
   margin-top: -220px;

   text-align: center;

 }

 #b1 h3 {


 }